body{
  background-color: #FFFFFF;
}

span{
  font-size:12px;
  margin-right: 5px;
}

h3{
  margin-top: -15px;
  margin-left: 35px;
}

a{
  text-decoration: none;
  color:orange;
}

a:hover{
  color:black;
}

button#regencolors{
  display:block;
  margin:5px auto;
}

#container {
  border:5px solid orange;
  width:800px;
  height:800px;
  background-color:white;
  float:left;
  box-shadow: 11px 9px 5px 0px rgba(0,0,0,0.75);
}

#top-holder{
  text-align:center;
  margin-left:60px;
}

#colorswab{
  width:160px;
  background-color: #e7eaf1;
  border: 5px solid orange;
  float: left;
  margin-right: 5px;
}

.grid-square{
  float:left;
  opacity:1;
  background-color:white;
  border:1px solid transparent;
}

#primary{
  width: 1000px;
  margin:0px auto;
}

button {
  float:inline-block;
  margin-bottom: 5px;
}

#clear-grid{
  margin-left: 35px;
}

.frholder{
  width:126px;
  margin:auto;
  margin-bottom: 10px;
  text-align: center;
}

.frcontain{
  display:inline-block;
  margin-right: 5px;
}

.fade-rain{
  height:30px;
  width:50px;
  border: 3px solid transparent
}

#randomcircle{
  background-image:url("rainbow.jpg");
}

#fadecircle{
  background-image: url("opacity.jpg");
}

#contain-colors{
  width:150px;
  height:150px;
  margin:auto;
}

.grid-color{
  height:10px;
  width:10px;
  float:left;
}

#preview-container{
  margin:5px auto;
  width:125px;
  text-align:center;
}

#selected{
  background-color:blue;
}

.sel-high{
  width:60px;
  display: inline-block;
}

.previewbox{
  width:48px;
  height:48px;
  border:2px solid #4286f4;
}

.divider{
  height:2px;
  width:90%;
  background-color:orange;
  margin:10px auto;
}
